{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-4">Please Enter Keyword</h1>
    <form action="{{ url_for('home') }}" method="POST">
        <div class="form-group">
            <label for="keyword">Keyword:</label>
            <input type="text" id="keyword" name="keyword" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="seller_type">Seller Type:</label>
            <select id="seller_type" name="seller_type" class="form-control">
                <option value="">Select Seller Type</option>
                <option value="top_rated_seller">Top Rated Seller</option>
                <option value="level_two_seller">Level Two Seller</option>
                <option value="level_one_seller">Level One Seller</option>
                <option value="new_seller">New Seller</option>
            </select>
        </div>
        <div class="form-group">
            <label for="seller_country">Seller Country:</label>
            <select id="seller_location" name="seller_country" class="form-control">
                <option value="">Select Seller Country</option>
                <option value="US">United States</option>
                <option value="UK">United Kingdom</option>
                <option value="PK">Pakistan</option>
                <!-- Add more countries as needed -->
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    {% if focus_keywords_chart %}
    <h2 class="mt-4">Top Focus Keywords</h2>
    <!-- Embed the focus keywords chart -->
    <div class="chart">
        {{ focus_keywords_chart|safe }}
    </div>
    {% endif %}

    {% if sales_distribution_chart %}
        <h2 class="mt-4">Sales Distribution</h2>
        <!-- Embed the sales distribution chart -->
        <div class="chart">
            {{ sales_distribution_chart|safe }}
        </div>
    {% endif %}

    {% if unique_keywords_cloud %}
        <h2 class="mt-4">unique_keywords_cloud</h2>
        <!-- Embed the unique keywords chart -->
        <div class="chart">
            {{ unique_keywords_cloud|safe }}
        </div>
    {% endif %}


{% endblock %}